/* ----------- Forms ---------- */

main a.button,
main a.button:focus,
main button,
main input[type="button"],
main input[type="reset"],
main input[type="submit"] {
	background: none;
	border: 1px solid;
	border-radius: 4px;
	color: #ca1237;
	margin-top: 1.5rem;
	padding: .75rem 1.5rem;
	text-transform: uppercase;
	transition: all .3s ease;
	font-weight: 600;
}

main a.button:hover,
main a.button:focus,
main button:hover,
main button:focus,
main input[type="button"]:hover,
main input[type="button"]:focus,
main input[type="reset"]:hover,
main input[type="reset"]:focus,
main input[type="submit"]:hover,
main input[type="submit"]:focus {
	background: #ca1237;
	border: 1px solid #ca1237;
	color: #fff;
}

main .mce-toolbar .mce-btn button:hover {
	background: none;
	border: none;
}

main input[type="email"],
main input[type="password"],
main input[type="text"],
main select,
main textarea {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: 0;
	border-radius: 2px;
	color: #767676;
	margin: 0;
	min-height: 40px;
	background: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	text-indent: 10px;
}

input, textarea, input[type=text], select {
	background: rgba(0,0,0,0.01) !important;
}

input:hover, textarea:hover, input[type=text]:hover, select:hover {
	color: #4c4c4c;
	border: 1px solid #4c4c4c;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	background-color: #ffffff !important;
}

input:focus, textarea:focus, input[type=text]:focus, select:focus {
	color: #ca1237;
	border: 1px solid #ca1237;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

label, option, select {
	font-weight: 400;
	font-size: 12px !important;
	letter-spacing: 0 !important;
}

.gform_wrapper label.gfield_label {
	font-weight: 600;
	text-transform: uppercase;
}

label.gfield_label.gfield_label_before_complex, label.gfield_label {
	font-size: 16px !important;
}

/* ----- WSUWP People -----*/
.wsuwp-people-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.wsuwp-person-container > div {
	max-width: 198px;
}

.wsuwp-person-container {
	padding-top: 12px;
    padding-bottom: 18px;
    width: 33%;
    flex-grow: 1;
    min-width: 220px;
    flex-basis: auto; /* default value */
}

figure.wsuwp-person-photo {
	padding-bottom: 5px;
	position: relative;
}

figure.wsuwp-person-photo:after {
	content: "";
	height: 6px;
	width: 198px;
	position: absolute;
	left: 0;
	bottom: 0px;
	visibility: visible;
	background: #a31d36;
}

figure.wsuwp-person-photo img {
	width: 198px;
	height: 198px;
}

.wsuwp-person-name {
	font-weight: 600;
}

.wsuwp-person-position, .wsuwp-person-office {
	font-size: .85em;
}

.wsuwp-person-email a {
	color: #a31d36;
	font-size: .7em;
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
	-webkit-transition-property: color, background, border;
	-moz-transition-property: color, background, border;
	-o-transition-property: color, background, border;
	transition-property: color, background, border;
	-webkit-transition-duration: .4s, .4s, .1s;
	-moz-transition-duration: .4s, .4s, .1s;
	-o-transition-duration: .4s, .4s, .1s;
    transition-duration: .4s, .4s, .1s;
    word-wrap: break-word;
}

.wsuwp-person-email a:hover {
	border-bottom: 6px solid #e5e5e5;
}

/* ----- WSUWP Events -----*/
.wsuwp-content-syndicate-wrapper {
	padding: 0;
}

ul.wsuwp-content-syndicate-list {
	padding: 0;
}

li.wsuwp-content-syndicate-event {
	list-style-type: none;
	display: block;
	padding: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	-webkit-transition-property: color, background, border;
	-moz-transition-property: color, background, border;
	-o-transition-property: color, background, border;
	transition-property: color, background, border;
	-webkit-transition-duration: .4s, .4s, .1s;
	-moz-transition-duration: .4s, .4s, .1s;
	-o-transition-duration: .4s, .4s, .1s;
	transition-duration: .4s, .4s, .1s;
}

li.wsuwp-content-syndicate-event:hover {
	background-color: rgba(0,0,0,0.02);
/* -webkit-box-shadow: 0 0 0 1px #ca1236;
    -moz-box-shadow: 0 0 0 1px #ca1236;
    box-shadow: 0 0 0 1px #ca1236;
	border-bottom: 1px solid rgba(0,0,0,0.0);*/
}

span.content-item-event-date {
	display: inline-block;
	background: #e5e5e5;
	color: #404040;
/*background: #a31d36;
  padding: 4px 12px;
	font-size: .75em;
  color: #ffffff;*/
	padding: 2px 10px;
	font-size: .65em;
	font-weight: 600;
	text-transform: uppercase;
	min-width: 60px;
	text-align: center;
	margin-top: 12px;
	margin-bottom: 4px;
	letter-spacing: 1px;
}

span.content-item-event-title a {
	color: #a31d36;
	text-decoration: none;
	border-bottom: 1px solid #e5e5e5;
	-webkit-transition-property: color, background, border;
	-moz-transition-property: color, background, border;
	-o-transition-property: color, background, border;
	transition-property: color, background, border;
	-webkit-transition-duration: .4s, .4s, .1s;
	-moz-transition-duration: .4s, .4s, .1s;
	-o-transition-duration: .4s, .4s, .1s;
	transition-duration: .4s, .4s, .1s;
}

span.content-item-event-title a:hover {
	border-bottom: 6px solid #e5e5e5;
}

span.content-item-event-title {
	display: block;
	font-size: .95em;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 600;
}

span.content-item-event-meta {
	display: block;
	font-size: .95em;
	padding-top: 5px;
	padding-bottom: 5px;
}

span.content-item-event-meta:empty, span.content-item-event-venue:empty, span.content-item-event-city:empty, span.content-item-event-state:empty {
	display: none;
}

span.content-item-event-venue {
	display: block;
	font-size: .95em;
}

span.content-item-event-city {
	display: inline-block;
	font-size: .85em;
	font-style: italic;
	position: relative;
	text-transform: uppercase;
}

span.content-item-event-city:after {
	content: ",";
	position: absolute;
}

span.content-item-event-state {
	display: inline-block;
	font-size: .85em;
	font-style: italic;
	text-transform: uppercase;
}